<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/index")
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/index")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("關於", "About", "Home")</li>
                        <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
            </footer>
        </div>*@

    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        SlashTv
                    </a>
                </li>
                <li>
                    @*<a href="#">Nos émissions</a>*@
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Page1</a></li>
                        <li><a href="#">Page2</a></li>
                        <li><a href="#">Page3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("GridView")">GridView</a>
                    
                </li>
                <li>
                    <a href="@Url.Action("TreeView")">TreeView</a>
                </li>
                <li>
                    <a href="@Url.Action("UploadFile")">UploadFile</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <a class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-align-justify"></span></a>
            <div class="container-fluid ">

                <div class="row">

                    <div class="home-container">
                        <canvas class="canvas"></canvas>
                        <div class="main-content">
                            <div class="text-home">
                                @RenderBody()
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div id="footer">

        </div>

    </div>


</body>
</html>
